.idea/
*.iml
.venv
venv
molecule/**/.molecule/
molecule/**/__pycache__/
molecule/**/.cache
molecule/**/.pytest_cache
README.md.orig.*
README.md.toc.*
*.pyc
.vagrant
*.log
hosts*
inventory*.ini
*.htpasswd
playbooks\generated\*
playbooks/generated/*
*.zip
*.gz
*.bz2
*.rar
*.tar
*.tgz
*.tbz2
*.txz
*.tzst
*.7z
*.xz
*.zst
*.zstd
